#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.padre {
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  margin: 0;
  /*display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;*/
  display: flex;
  --line-height: 25px;
  --line-width: 2px;
  --line-color: #0e147b;
  --line-border-radius: 5px;
  --line-style: solid;
  --node-padding: 5px;
  --tree-line-height: var(--line-height, 20px);
  --tree-line-width: var(--line-width, 1px);
  --tree-line-color: var(--line-color, black);
  --tree-line-border-radius: var(--line-border-radius, 5px);
  --tree-node-line-style: var(--line-style, solid);
  --tree-node-padding: var(--node-padding, 5px);
}


.hijo-general {
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
  text-align: center;
  list-style-type: none;
  position: relative;
  padding: var(--tree-line-height) var(--tree-node-padding) 0 var(--tree-node-padding);
}

.hijo {
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
  text-align: center;
  list-style-type: none;
  position: relative;
  padding: var(--tree-line-height) var(--tree-node-padding) 0 var(--tree-node-padding);
}

.hijo:first-of-type::after {
  border-radius: var(--tree-line-border-radius) 0 0 0;
}

.hijo:first-of-type::before {
  border: 0 none;
}

.hijo::after {
  left: 50%;
  border-left: var(--tree-line-width) var(--tree-node-line-style) var(--tree-line-color);
}

.hijo::before, .hijo::after {
  content: '';
  position: absolute;
  top: 0;
  height: var(--tree-line-height);
  box-sizing: border-box;
  right: 50%;
  width: 50%;
  border-top: var(--tree-line-width) var(--tree-node-line-style) var(--tree-line-color);
}

.hijo:last-of-type::before {
  border-right: var(--tree-line-width) var(--tree-node-line-style) var(--tree-line-color);
  border-radius: 0 var(--tree-line-border-radius) 0 0;
}

.hijo:last-of-type::after {
  border: 0 none;
}

.sub-hijo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-padding-start: 0;
    padding-inline-start: 0;
    margin: 0;
    padding-top: var(--tree-line-height);
    position: relative;
}

.sub-hijo::before {
  content: '';
  position: absolute;
  top: 0;
  height: var(--tree-line-height);
  box-sizing: border-box;
  left: calc(50% - var(--tree-line-width) / 2);
  width: 0;
  border-left: var(--tree-line-width) var(--tree-node-line-style) var(--tree-line-color);
}

ol, ul, menu {
  list-style: none;
  margin: 0;
  padding: 0;
}